<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true">
	<Properties>
		<Property name="filename">/tmp/ciphering.log</Property>
	</Properties>
	<Appenders>
		<File name="FILE" fileName="${filename}">
			<!-- <PatternLayout pattern="%p %m%n"/> -->
			<PatternLayout pattern="%d %p %m%n"/> -->
		</File>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="%p %m%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="ALL">
			<AppenderRef ref="CONSOLE"/>
			<AppenderRef ref="FILE"/>
		</Root>
	</Loggers>
</Configuration>